.chat-header {
    height: 45px;
    padding: 0.5rem 1rem;
    background-color: rgb(255 255 255);
    border-bottom: 1px solid rgb(229 231 235);
    align-items: center;
    display: flex;
}

.chat-header svg {
    fill: rgb(34 197 94);
    margin-right: 0.5rem;
    width: 16px;
    height: 16px;
}

.chat-header__name {
    color: rgb(31 41 55);
    font-weight: 600;
    margin: 0;
    font-size: inherit;
    line-height: 1;
}

.chat-header__online {
    color: rgb(107 114 128);
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-left: 1rem;
    line-height: 1;
}

.chat-header__functions {
    display: flex;
    margin-left: auto;
}

.chat-header__functions__button {
    cursor: pointer;
    background-color: transparent;
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    margin: 0 0.6rem;
    padding: 0.25rem;
    border: none; 
    border-radius: 9999px;
}

.chat-header__functions__button:hover {
    background-color: rgb(243 244 246);
}

.chat-header__functions__button svg {
    max-width: 16px;
    max-height: 16px;
    min-width: 16px;
    min-height: 16px;
    fill: rgb(107 114 128);
    margin: 0;
}

