.features {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: rgb(255 255 255);
    color: rgb(31 41 55);
}

.features-container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.features-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
}

.features-introduce {
    text-align: center;
    margin-bottom: 4rem;
}

.features-introduce__title {
    color: rgb(38 50 56);
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 1rem;
    margin: 0;
}

.features-introduce__text {
    color: rgb(75 85 99);
    max-width: 42rem;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1024px) {
    .features-list{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 512px) {
    .features-list{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
    