.message {
    margin-bottom: 1rem;
}

.message-container {
    display: flex;
    align-items: flex-start;
}

.message-container svg{
    fill: rgb(255 255 255);
    background-color: rgb(206, 206, 206);
    min-width: 18px;
    min-height: 18px;
    max-width: 18px;
    max-height: 18px;
    padding: 8px;
    margin-right: 0.5rem;
    border-radius: 9999px;
}

.message-info {
    display: flex;
    align-items: baseline;
}

.message-info__name {
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.message-info__time {
    color: rgb(107 114 128);
    font-size: 0.75rem;
    line-height: 1rem;
    margin-left: 0.5rem;
}

.message-data {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    padding: 0.75rem;
    background-color: rgb(255 255 255);
    border-radius: 0.5rem;
    margin-top: 0.25rem;
    max-width: 70%;
    word-wrap: break-word;
}

.message-data.active {
    background-color: rgb(220 252 231);
}

.message-data__text {
    margin: 0;
}